

.nav1{
    float: right;
}
.nav{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    margin-bottom: 0!important;
}

.nav li{
    display: inline-block;
}

.nav a{
    color:darksalmon;
    display: inline-block;
    text-decoration: none;
    line-height: 30px;
    padding: 8px 15px;
    Font-weight: 500;
    text-transform: uppercase;
}
.nav li:hover a{
    background-color:darkseagreen;
    transition: all 0.3s;
}

.nav .title:hover a{
    background-color:transparent;
    transition: all 0.3s;
}